<html>
  <head>
    <!-- HTML 4 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= bootstrap %>
    <%= bootstrap_css %>
    <%= bootstrap_js %>
    <link rel="stylesheet" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" href="stylesheets/fonts.css">
    <!-- HTML5 -->
    <meta charset="utf-8"/>
    <meta name="description" content="Refletir sobre a infância em países da América do Sul, a participação das crianças e suas intervenções na cidade, e discutir políticas, ações do Estado e de movimentos sociais são os objetivos do seminário.">
    <meta name="keywords" content="infância, sulamericana, infância sulamericana, rianças, cidades, políticas, participação">
    <meta name="author" content="Márcia Gobi e Maria Letícia Nascimento">
    <title>Infancias Sulamericanas</title>
  </head>

  <body>
    <div class="header">
      <div class="header__title">
        <h1><span class='title__main'>Seminário Internacional <br /> Infâncias Sulamericanas</span> <br/><span class='title__secondary'> Crianças nas Cidades, Políticas e Participação</span></h1>
      </div>
      <div class=header__links>
        <a class="<%= 'selected-link' if @page == 'index'%>" href="/">Início</a>
        <a class="<%= 'selected-link' if @page == 'team'%>" href="/equipe">Equipe</a>
        <a class="<%= 'selected-link' if @page == 'schedule'%>"href="/programacao">Programação</a>
        <a class="<%= 'selected-link' if @page == 'registrations'%>"href="/inscricoes">Inscrições</a>
        <a class="<%= 'selected-link' if @page == 'city'%>"href="/cidade">A Cidade</a>
        <a class="<%= 'selected-link' if @page == 'contact'%>"href="/contato">Contato</a>
      </div>
    </div>
    <%= yield %>
    <div class="footer">
      <div class="logos">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <img id="logo_feusp" class="footer__logo" src="/files/logos/feusp.png"/>
          </div>
          <div class="col-xs-12 col-sm-4">
            <img id="logo_usp" class="footer__logo" src="/files/logos/usp.png"/>
          </div>
          <div class="col-xs-12 col-sm-4 hidden">
            <img id="logo_capes" class="footer__logo" src="/files/logos/capes.png"/>
          </div>
          <div class="col-xs-12 col-sm-4">
            <img id="logo_cscy" class="footer__logo" src="/files/logos/cscy.jpg"/>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
